<h2>My First Rails App</h2>

<div>
  <%= image_tag "https://pbs.twimg.com/profile_images/2191794231/image.jpg", class: "profile_pic" %>
</div>

<p>My name is Diederik Kroondijk and this blog represents my first endeavour into the world of Rails.</p>